<!-- footer
================================================== -->
<footer>
    <div class="row">
        <div class="col-full ss-copyright">
            <span>© Copyright Tech Made 2018</span> 
            <span>Design by <a href="https://www.techmade.co/">Tech Made</a></span>
        </div>
    </div>
</footer>