    <!-- Header -->
    <header class="br_header header-default header-transparent pt--15 light-logo--version haeder-fixed-width headroom--sticky header-mega-menu clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header__wrapper mr--0">
                        <!-- Header Left -->
                        <div class="header-left flex-20">
                            <div class="logo">
                                <a href="/">
                                    <img src="img/logos/logo-lightning-blue-sm.png" alt="Techmade">
                                </a>
                            </div>
                        </div>
                        <!-- Mainmenu Wrap -->
                        <div class="header-flex-right flex-80">
                            <div class="mainmenu-wrapper have-not-flex d-none d-lg-block">
                                <nav class="page_nav">
                                    <ul class="mainmenu">
                                        <li class="lavel-1"><a href="/"><span>Home</span></a>
                                        </li>
                                        <li class="lavel-1"><a href="/portfolio"><span>Portfolio</span></a>
                                        </li>
                                        <li class="lavel-1"><a href="/contact"><span>Contact</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header Right -->
                            <div class="header-right have-not-flex pl--35 pl_md--5 pr_md--20 pl_sm--5 pr_sm--20">
                                <!-- Start Hamberger -->
                                <div class="manu-hamber popup-mobile-click d-block d-lg-none light-version d-block d-xl-none">
                                    <div>
                                        <i></i>
                                    </div>
                                </div>
                                <!-- End Hamberger -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </header>
    <!--// Header -->