<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- title -->
    <title>Techmade</title>
    <meta property='og:title'  content='Techmade Crafting Stunning Digital Experiences!'>
    <meta name='twitter:title' content='Techmade Crafting Stunning Digital Experiences!'>
    
    <!-- description -->
    <meta name='description'         content="We're not just creating websites and apps, we're crafting stunning digital experiences that represent your brand and create more online leads and walk in customers. âš¡ï¸">
    <meta property='og:description'  content="We're not just creating websites and apps, we're crafting stunning digital experiences that represent your brand and create more online leads and walk in customers. âš¡ï¸">
    <meta name='twitter:description' content="#Techmade We're not just creating websites and apps, we're crafting stunning digital experiences that optimize your growth âš¡ï¸ðŸ’»ðŸ’™">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/revoulation.css">
    <link rel="stylesheet" href="css/plugins.css">

    <!-- Style Css -->
    <link rel="stylesheet" href="style.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css">
</head>