<!-- header
================================================== -->
<header class="s-header">

    <div class="header-logo">
        <!-- <h1>Tech Made</h1> -->
        <!-- <a class="site-logo" href="index.html">
            <img src="images/logo.svg" alt="Homepage">
        </a> -->
    </div> <!-- end header-logo -->

    <nav class="header-nav">

        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

        <h3>Navigate to</h3>

        <div class="header-nav__content">
            
            <ul class="header-nav__list">
                <li><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                <!-- <li><a class="smoothscroll"  href="#services" title="services">Services</a></li> -->
                <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                <li><button href="#login">Login</button></li>
            </ul>

            <p><a href='#0'>Tech Made</a> A design and development agency based out of Silicon Valley. We design thoughtful digital experiences for independent creatives and influencers.</p>

            <ul class="header-nav__social">
                <li>
                    <a href="#0"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-behance"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-dribbble"></i></a>
                </li>
            </ul>

        </div> <!-- end header-nav__content -->

    </nav> <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-icon"></span>
    </a>

</header> <!-- end s-header -->

