<div id="page-preloader" class="page-loading clearfix">
    <div class="page-load-inner">
        <div class="preloader-wrap">
            <div class="wrap-2">
                <div class=""> <img src="img/icons/brook-preloader.gif" alt="Brook Preloader"></div>
            </div>
        </div>
    </div>
</div>