<!-- Start Popup Menu -->
<div class="popup-mobile-manu popup-mobile-visiable">
    <div class="inner">
        {{!-- <div class="mobileheader">
            <div class="logo">
                <a href="index.html">
                    <img src="img/logos/logo1.png" alt="Techmade">
                </a>
            </div>
            <a class="mobile-close" href="#"></a>
        </div> --}}
        <div class="menu-content">
            <ul class="menulist object-custom-menu">
                <a class="tm-nav-link" href="/"><li class="has-mega-menu"><span>Home</span></li></a>
                <a class="tm-nav-link" href="/portfolio"><li class="has-mega-menu"><span>Portfolio</span></li></a>
                <a class="tm-nav-link" href="/contact"><li class="has-mega-menu"><span>Contact</span></li></a>
            </ul>
        </div>
    </div>
</div>
<!-- End Popup Menu -->

<style>
    .tm-nav-link {
        padding: 14px 4px; 
        cursor: pointer;
    }
    .tm-nav-link li {
        color: white;
    }
    .tm-nav-link li:hover {
        color: #0038E3;
    }
</style>