<!doctype html>
<html class="no-js" lang="zxx">
    {{> head}}
    <body class="template-color-3 template-font-1">
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        {{> loader}}
        <!-- Add your site or application content here -->

        <!-- Wrapper -->
        <div id="wrapper" class="wrapper all-wrapper">
            {{> header }}
            {{{body}}}
        </div>
        {{> footer}}
        {{>scripts}}
        <!--// Wrapper -->
    </body>

</html>
