<main>
    <h1>Admin Dashboard</h1>
    {{!-- v2 - most recent project section --}}
    <section>
        <h3>Clients</h2>
        <ul>
            <li>client list</li>
        </ul>
    </section>
</main>