{{> mobile-wrapper}}

<!-- Start Breadcaump Area -->
<div
    class="brook-breadcaump-area pt--80 pt_md--50 pt_sm--20 pb--80 pb_md--50 pb_sm--20 breadcaump-title-bar breadcaump-title-white">
</div>
<!-- End Breadcaump Area -->

<!-- Page Conttent -->
<main class="page-content">

    <!-- STart Contact Us Modern -->
    <div class="contact-modern pb--120 pb_md--80 pb_sm--80">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-6 col-12 pr--50 ptb-md--80 ptb-sm--80">
                    <div class="contact-modern bg_color--tm space_dec--100 pt--120 pb--120 pl--60 pr--60">
                        <div class="inner">
                            <h2 class="heading heading-h2 text-white">Let's Chat</h2>

                            <div class="classic-address text-left mt--60">
                                <h4 class="heading heading-h4 text-white">Chicago / </h4>
                                <h4 class="heading heading-h4 text-white">Silicon Valley</h4>
                                {{!-- <div class="desc mt--15">
                                            <p class="bk_pra line-height-2-22 text-white">2005 Stokes Isle Apt. 896, <br>
                                                Venaville 10010,
                                                USA</p>
                                        </div> --}}
                            </div>

                            <div class="classic-address text-left mt--60">
                                <h4 class="heading heading-h4 text-white">Message us</h4>
                                <div class="desc mt--15 mb--30">
                                    <p class="bk_pra line-height-2-22 text-white">team@techmade.co </p>
                                    <p class="bk_pra line-height-2-22 text-white">(+630) 407 7258</p>
                                </div>
                                <div class="social-share social--transparent text-white">
                                    {{!-- <a href="#"><i class="fab fa-facebook"></i></a> --}}
                                    {{!-- <a href="#"><i class="fab fa-twitter"></i></a> --}}
                                    <a target='_blank' href="https://instagram.com/techmadeco"><i
                                            class="fab fa-instagram"></i></a>
                                    {{!-- <a href="#"><i class="fab fa-dribbble"></i></a> --}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12" style="padding-left: 0px !important; padding-right: 0px !important;">
                    <!-- Calendly inline widget begin -->
                    <div class="calendly-inline-widget" data-url="https://calendly.com/techmade/free-quote"
                        style="min-width:320px;"></div>
                    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
                    <!-- Calendly inline widget end -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Us Modern -->


</main>