<!-- Wrapper -->
<div id="wrapper" class="wrapper all-wrapper">

    {{> mobile-wrapper}}

    <div class="slider-revoluation">
        <img class="home-logo" src="img/logos/techmadelogo.png" alt='Techmade' />
        <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-design-studio"
            data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.4.7 fullwidth mode -->
            <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="img/home/home-bg-top-1.jpeg" alt="" data-bgposition="center center"
                            data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100"
                            data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                            data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg"
                            data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption    smooth-scroll-link rev_group" id="slide-8-layer-9" data-x="['left','center','center','center']"
                            data-hoffset="['150','0','0','0']" data-y="['bottom','bottom','bottom','bottom']"
                            data-voffset="['80','60','50','50']" data-width="170" data-height="36" data-whitespace="nowrap"
                            data-type="group" data-actions='' data-basealign="slide" data-responsive_offset="off"
                            data-responsive="off" data-frames='[{"delay":900,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                            data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 170px; max-width: 170px; max-width: 36px; max-width: 36px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #000000; letter-spacing: 0px;cursor:pointer;text-decoration: none;">
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption  " id="slide-8-layer-7" data-x="['left','left','left','left']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['0','0','0','0']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="off"
                                data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 18px; line-height: 25px; font-weight: 600; color: #000000; letter-spacing: 0px;">Scroll
                                for more </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption  " id="slide-8-layer-8" data-x="['right','right','right','right']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['0','0','0','0']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="image" data-responsive_offset="off"
                                data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 9;"><img src="img/revoulation/mouse-icon.png"
                                    alt="" data-ww="['22px','22px','22px','22px']" data-hh="['36px','36px','36px','36px']"
                                    data-no-retina> </div>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption  " id="slide-8-layer-12" data-x="['right','right','left','left']"
                            data-hoffset="['0','302','1686','1686']" data-y="['top','top','top','top']"
                            data-voffset="['0','-822','-22','-22']" data-width="none" data-height="full"
                            data-whitespace="nowrap" data-visibility="['on','off','off','off']" data-type="image"
                            data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":900,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5;"><img src="img/home/home-slider-bg.jpg"
                                alt="" data-ww="['400px','400px','400px','400px']" data-hh="['full','full','full','full']"
                                data-no-retina> </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption  " id="slide-8-layer-4" data-x="['right','left','left','left']"
                            data-hoffset="['0','1266','1266','1266']" data-y="['bottom','bottom','bottom','bottom']"
                            data-voffset="['175','262','262','262']" data-width="['345','250','250','250']"
                            data-height="253" data-whitespace="normal" data-type="text" data-basealign="slide"
                            data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":900,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; min-width: 345px; max-width: 345px; max-width: 253px; max-width: 253px; white-space: normal; font-size: 60px; line-height: 84px; font-weight: 600; color: #ffffff; letter-spacing: 0px;">check<br />
                            out our <br />
                            works. </div>

                        {{!-- <div class="tp-caption slider-h1" id="slide-8-layer-1" data-x="['left','center','center','center']"
                            data-hoffset="['150','0','0','3']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['-61','-120','-120','-129']"
                            data-whitespace="normal" data-type="image" data-basealign="slide"
                            data-responsive_offset="off" data-responsive="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 10; ; max-width: 200px">
                        </div> --}}

                        <!-- LAYER NR. 6 -->

                        <div class="tp-caption slider-h1" id="slide-8-layer-1" data-x="['left','center','center','center']"
                            data-hoffset="['150','0','0','3']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['-61','-120','-120','-129']" data-fontsize="['100','80','60','40']"
                            data-lineheight="['129','103','77','52']" data-width="['970','800','600','360']"
                            data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide"
                            data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 10; min-width: 970px; max-width: 970px; white-space: normal; font-size: 100px; line-height: 129px; font-weight: 600; color: #000000; letter-spacing: 0px;">design, develop
                            <span class="playfair-font blue-color" style="font-weight: 700;">&</span> launch
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption  design-studio-pra" id="slide-8-layer-11" data-x="['left','center','center','center']"
                            data-hoffset="['150','0','0','-11']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['130','30','15','-18']" data-fontsize="['24','24','21','18']"
                            data-lineheight="['33','33','29','25']" data-width="['530','530','530','360']"
                            data-height="none" data-whitespace="normal" data-type="text" data-basealign="slide"
                            data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":800,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 11; min-width: 530px; max-width: 530px; white-space: normal; font-size: 24px; line-height: 33px; font-weight: 500; color: #000000; letter-spacing: 0px;">
                            Making software better than ever</div>

                        <!-- LAYER NR. 8 -->
                        <a href='#portfolio'>
                        <div class="tp-caption rev-btn " id="slide-8-layer-5" data-x="['right','center','center','center']"
                            data-hoffset="['185','0','0','-6']" data-y="['bottom','middle','middle','middle']"
                            data-voffset="['75','120','120','69']" data-width="160" data-height="55"
                            data-whitespace="nowrap" data-type="button" data-basealign="slide"
                            data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":900,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(34,34,34);"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[20,20,20,20]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[20,20,20,20]"
                            style="z-index: 12; min-width: 160px; max-width: 160px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: 14px; line-height: 55px; font-weight: 600; color: #222222; letter-spacing: 0px;background-color:rgb(255,255,255);border-radius:6px 6px 6px 6px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Check
                            Portfolio </div>
                        </a>
                    </li>
                </ul>
                <div id='portfolio'  class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>

    <div style='margin-top: 9em;' id="section1" class="pv-main-demo-pages background-marque2 pb--100">
        <div class="section-bg-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="demo-section-title text-center">
                            <h1>Achieve<sup>GREATNESS</sup></h1>
                            <h2 class="mt--25">Building products people love 💙</h2>
                            <p>We don't just create websites or apps, we craft stunning digital experiences that generate online sales or walk in customers.
                                We do this through our phenomenal tech solutions design, built and battle tested by an elite team in Chicago and Silicon Valley.
                            </p>
                            <center>
                                <a class="mb--15 brook-btn bk-btn-theme-border btn-sd-size btn-rounded space-between contact-us-btn-home" href="/contact">Contact Us</a>          
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Page Conttent -->
    <main  class="page-content">
        <div class="spacing"></div>
        <center>
            <h1 class="heading heading-h1 move-up wow">Our Products</h1>
        </center>
        <div class="spacing"></div>
        {{> home-portfolio}}

    </main>
    <!--// Page Conttent -->
</div>
