<main class="get-started-page">
    <form id="getStartedForm" class="get-started-form" action="/getstarted" method="post">
        <h3>Create account to request website</h3>
        <label for="first-name">First Name</label>
        <input type="text" name="firstName" placeholder="First Name" class="first-name" oninput="this.className = ''">
        
        <label for="last-name">Last Name</label>
        <input  type="text" name="lastName" placeholder="Last Name" class="last-name" oninput="this.className = ''">

        <label for="email">Email</label>
        <input name="email" placeholder="Email" type="email" class="email" oninput="this.className = ''">

        <label for="phone-number">Phone Number</label>
        <input name="phoneNumber"placeholder="Phone Number" class="phone-number" oninput="this.className = ''">

        <label for="username">Username</label>
        <input name="username" placeholder="Username" class="username" oninput="this.className = ''">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" class="password" oninput="this.className = ''">
    </form>
</main>