.home-btn {
    background-color: #793ea5;
    border-color: #793ea5;
}
.home-btn:hover {
    background-color: #5f1e91;
    border-color: #5f1e91;
}

.start-link {
    color: #ffffff;
}

.getting-started {
    min-height: 74vh; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    background-color: #5e3080;
}
.our-offer-form {
    margin: 1em;
    padding: 2em 6em 1em 6em;
    border-radius: .5em;
    font-size: 1.5em;
    font-weight: 900;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 10px 10px 47px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 47px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 47px -7px rgba(0,0,0,0.75);
}