@include phone {
    .initial-contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5e3080;
        h3 {
            margin-top: 3em;
        }
        .request-form {
            label {
                font-size: 1.8rem;
            }
            input {
                width: 17em;
                height: 3em;
            }
            input:-webkit-autofill {
                -webkit-text-fill-color: #ffffff;
                transition: background-color 5000s ease-in-out 0s;
            }
            .details {
                width: 17em;
            }
        }
    }
    .client-dashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5e3080;
        text-align: center;
        padding: 0px 10px 0px;
        .welcome {
            margin-top: 3em;
        }
        .description {
            color: #ffffff;
        }
        .feedback-form {
            display: flex;
            flex-direction: column;
        }

    }
}

@include desktop {
    .start-page .get-started-form {
        padding: 0em 19em;
    }
    .initial-contact-form {
        h3 {
            font-size: 3rem;
        }
        .request-form {
            label {
                font-size: 2.1rem;
            }
            input {
                width: 32em;
                height: 3.4em;
            }
            .details {
                width: 32em;
            }
        }
    }
    .client-dashboard {
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: unset;
        align-items: unset;
        .profile-section {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 17em;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            background-color: #0C0C0C;
            padding: 4em .8em 4em;
            .fas.fa-user-circle {
                color: white;
                font-size: 7em;
            }
            h1 {
                margin: 0.8em 0em 0.8em 0em;
                font-size: 2.4rem;
            }
            p {
                margin: 0em 0em .5em 0em;
            }
            button {
                margin: 0 auto;
                line-height: 0;
                margin-top: .8em;
                height: 3.8rem;
            }
        }
        .project-section {
            padding: 1em 3em 1em 3em;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            max-width: 70vw;
            h1 {
                margin-top: 3rem;
            }
            h3 {
                margin-top: 3rem;
            }
            .stripe-button-el span {
                background-color: transparent;
            }
            #myProgress {
                width: 90%;
            }
            .current-item {
                .feedback-box {
                    .feedback-btn {
                        margin: 0 auto;
                    }
                    /* The Modal (background) */
                    .modal {
                        display: none; /* Hidden by default */
                        position: fixed; /* Stay in place */
                        z-index: 1; /* Sit on top */
                        padding-top: 100px; /* Location of the box */
                        left: 0;
                        top: 0;
                        width: 100%; /* Full width */
                        height: 100%; /* Full height */
                        overflow: auto; /* Enable scroll if needed */
                        background-color: rgb(0,0,0); /* Fallback color */
                        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                        /* Modal Content */
                        .modal-content {
                            background-color: #0C0C0C;
                            color: #ffffff;
                            margin: auto;
                            padding: 20px;
                            border: 1px solid #888;
                            width: 80%;
                            .form-feedback {
                                display: flex;
                                form {
                                    width: 30vw;
                                }
                                .current-feedback-view-box {
                                    text-align: left;
                                    width: 30vw;
                                    margin-left: 2em;
                                    height: 36rem;
                                    overflow-y: scroll;
                                    p {
                                        margin-bottom: 1rem;
                                    }
                                }

                            }
                        }
                        
                        /* The Close Button */
                        .close {
                            color: #aaaaaa;
                            float: right;
                            font-size: 28px;
                            font-weight: bold;
                        }
                        
                        .close:hover,
                        .close:focus {
                            color: #000;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
            }   
            .fa-arrow-circle-down {
                font-size: 1.6em;
            }
            .fa-arrow-circle-down:hover {
                color: #0C0C0C;
                cursor: pointer;
                -webkit-transition: color 500ms ease-out 1s;
                -moz-transition: color 500ms ease-out 1s;
                -o-transition: color 500ms ease-out 1s;
                transition: color 500ms ease-out 1s;
            }
            .previous-updates {
                display: grid;
                grid-template-columns: 17em 17em 17em;
                grid-template-rows: 20em 20em;
                margin-top: 3em;
                .previous-feedback-box {
                    background-color: #0C0C0C;
                    margin-left: .6em;
                    margin-left: .6em;
                    overflow-y: scroll;
                    /* The Modal (background) */
                    #oldFeedbackModal {
                        display: none; /* Hidden by default */
                        position: fixed; /* Stay in place */
                        z-index: 1; /* Sit on top */
                        padding-top: 100px; /* Location of the box */
                        left: 0;
                        top: 0;
                        width: 100%; /* Full width */
                        height: 100%; /* Full height */
                        overflow: auto; /* Enable scroll if needed */
                        background-color: rgb(0,0,0); /* Fallback color */
                        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                        /* Modal Content */
                        .modal-content {
                            background-color: #0C0C0C;
                            color: #ffffff;
                            margin: auto;
                            padding: 20px;
                            border: 1px solid #888;
                            width: 80%;
                            .form-feedback {
                                display: flex;
                                form {
                                    width: 30vw;
                                }
                                .current-feedback-view-box {
                                    text-align: left;
                                    width: 30vw;
                                    margin-left: 2em;
                                    height: 36rem;
                                    overflow-y: scroll;
                                    p {
                                        margin-bottom: 1rem;
                                    }
                                }

                            }
                        }
                        
                        /* The Close Button */
                        .close {
                            color: #aaaaaa;
                            float: right;
                            font-size: 28px;
                            font-weight: bold;
                        }
                        
                        .close:hover,
                        .close:focus {
                            color: #000;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    } 
                }
            }
        }
    }
}


// admin-dashboard

// initial-contact-form

// client-dashboard
