@include phone {
    .initial-contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5e3080;
        h3 {
            margin-top: 3em;
        }
        .request-form {
            label {
                font-size: 1.8rem;
            }
            input {
                width: 17em;
                height: 3em;
            }
            input:-webkit-autofill {
                -webkit-text-fill-color: #ffffff;
                transition: background-color 5000s ease-in-out 0s;
            }
            .details {
                width: 17em;
            }
        }
    }
    .client-dashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5e3080;
        text-align: center;
        padding: 0px 10px 0px;
        .welcome {
            margin-top: 3em;
        }
        .description {
            color: #ffffff;
        }
        .feedback-form {
            display: flex;
            flex-direction: column;
        }

    }
}

@include desktop {
    .start-page .get-started-form {
        padding: 0em 19em;
    }
    .initial-contact-form {
        h3 {
            font-size: 3rem;
        }
        .request-form {
            label {
                font-size: 2.1rem;
            }
            input {
                width: 32em;
                height: 3.4em;
            }
            .details {
                width: 32em;
            }
        }
    }
    .client-dashboard {
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: unset;
        align-items: unset;
        .profile-section {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 17em;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            background-color: #0C0C0C;
            padding: 4em .8em 4em;
            .fas.fa-user-circle {
                color: white;
                font-size: 7em;
            }
            h1 {
                margin: 0.8em 0em 0.8em 0em;
                font-size: 2.4rem;
            }
            p {
                margin: 0em 0em .5em 0em;
            }
            button {
                margin: 0 auto;
                line-height: 0;
                margin-top: .8em;
                height: 3.8rem;
            }
        }
        .project-section {
            padding: 1em 3em 1em 3em;
            margin: 0 auto;
            #myProgress {
                width: auto;
            }
            .current-item > * {
                padding: 0em 2em;
            }
            .current-item {
                .project-tracker {
                    max-width: 40vw;
                    .update-title {

                    }
                }
                .feedback-box {
                    .feedback-btn {
                        margin: 0 auto;
                    }
                }
            }   
        }
    }
}


// admin-dashboard

// initial-contact-form

// client-dashboard
