@include phone {
    .initial-contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5e3080;
        h3 {
            margin-top: 3em;
        }
        .request-form {
            label {
                font-size: 1.8rem;
            }
            input {
                width: 17em;
                height: 3em;
            }
            input:-webkit-autofill {
                -webkit-text-fill-color: #ffffff;
                transition: background-color 5000s ease-in-out 0s;
            }
            .details {
                width: 17em;
            }
        }
    }
    .client-dashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5e3080;
        text-align: center;
        padding: 0px 10px 0px;
        .welcome {
            margin-top: 3em;
        }
        .description {
            color: #ffffff;
        }
        .feedback-form {
            display: flex;
            flex-direction: column;
        }

    }
}

@include desktop {
    .start-page .get-started-form {
        padding: 0em 19em;
    }
    .initial-contact-form {
        h3 {
            font-size: 3rem;
        }
        .request-form {
            label {
                font-size: 2.1rem;
            }
            input {
                width: 32em;
                height: 3.4em;
            }
            .details {
                width: 32em;
            }
        }
    }
    .current-item > * {
        padding: 0em 2em;
    }
    .current-item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .project-tracker {
            max-width: 40vw;
        }
        .feedback-box {
            display: flex;
            flex-direction: column;
            max-width: 40vw;
        }
    }
}


// admin-dashboard

// initial-contact-form

// client-dashboard
