.purple-btn {
  height: 4em;
  border: none;
  border-radius: .3em;
  min-width: 126px;
  background-color: #5e3080;
  color: #ffffff;
  border: none;
  cursor: pointer; }

.white-btn {
  height: 4em;
  border: none;
  border-radius: .3em;
  min-width: 126px;
  background-color: #ffffff;
  color: #5e3080;
  border: none;
  cursor: pointer; }

.white-btn:hover {
  background-color: #000000;
  color: #ffffff; }

@media (min-width: 310px) {
  .login-page {
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: #5e3080;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left; }
    .login-page .top {
      width: 100vw;
      top: 0;
      padding-left: 2em;
      background: #5e3080; }
    .login-page form {
      margin-top: 3em;
      margin-left: 2em; }
      .login-page form label {
        font-size: 1.3em; }
      .login-page form input {
        font-family: "Nunito Sans", sans-serif;
        padding-left: 1em !important;
        padding: 0;
        font-size: 1.2em;
        line-height: 2em;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid #ffffff; }
      .login-page form input:-webkit-autofill {
        -webkit-text-fill-color: #dbdbdb;
        transition: background-color 5000s ease-in-out 0s; }
      .login-page form .new-account-txt {
        color: #ffffff; }
    .login-page button {
      float: right; }
    .login-page button > a {
      color: #ffffff; } }
@media (min-width: 310px) {
  .start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5e3080; }
    .start-page .top {
      align-self: flex-start;
      width: 100vw;
      z-index: 1;
      background-color: #5e3080;
      top: 0;
      text-align: left;
      padding-left: 1.3em;
      padding-right: 1.3em; }
      .start-page .top h1 {
        font-size: 1.6em; }
    .start-page .get-started-form {
      height: 86vh;
      bottom: 0;
      width: 100vw;
      padding: 0em .7em;
      overflow-y: scroll;
      padding-bottom: 3em;
      background-color: #ffffff;
      /* Mark input boxes that gets an error on validation: so the js should activate this class */
      /* Hide all steps by default: */
      /* Make circles that indicate the steps of the form: */
      /* Mark the steps that are finished and valid: */ }
      .start-page .get-started-form .step-circles {
        padding-top: .8em;
        text-align: center; }
      .start-page .get-started-form h3 {
        color: #5e3080;
        margin-top: 0.4em;
        font-size: 1.4em; }
      .start-page .get-started-form ul li {
        list-style: none;
        color: #000000;
        font-size: 1.2em; }
      .start-page .get-started-form input {
        color: #5e3080;
        padding: 10px;
        width: 100%;
        font-size: 17px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid;
        border-color: #5e3080; }
      .start-page .get-started-form input::placeholder {
        /* Almost all browsers! */
        color: #5e3080;
        opacity: 1; }
      .start-page .get-started-form input:-ms-input-placeholder {
        color: #5e3080;
        opacity: 1; }
      .start-page .get-started-form input::-ms-input-placeholder {
        color: #5e3080;
        opacity: 1; }
      .start-page .get-started-form input.invalid {
        background-color: #ffdddd; }
      .start-page .get-started-form .tab {
        display: none; }
      .start-page .get-started-form button {
        float: right;
        height: 4em;
        border: none;
        border-radius: .3em;
        min-width: 126px;
        background-color: #5e3080;
        color: #ffffff;
        border: none;
        cursor: pointer; }
      .start-page .get-started-form button:hover {
        background-color: #2e074b;
        color: #d8d8d8; }
      .start-page .get-started-form button > a {
        color: #ffffff; }
      .start-page .get-started-form #prevBtn {
        background-color: #6d6d6d; }
      .start-page .get-started-form .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5; }
      .start-page .get-started-form .step.active {
        opacity: 1; }
      .start-page .get-started-form .step.finish {
        background-color: #4CAF50; } }
@media (min-width: 1200px) {
  .start-page .get-started-form {
    padding: 0em 19em; } }
.home-start-btn {
  background-color: #793ea5;
  border-color: #793ea5; }

.home-start-btn:hover {
  background-color: #5f1e91;
  border-color: #5f1e91; }

.start-link {
  color: #ffffff; }

@media (min-width: 310px) {
  .admin-dashboard-clients {
    text-align: center; }
    .admin-dashboard-clients ul {
      list-style: none; }
    .admin-dashboard-clients ul > li {
      font-size: 1.2em; } }
.admin-client-view h2 {
  text-align: center; }
.admin-client-view .page-forms {
  display: flex;
  justify-content: space-between; }
.admin-client-view .new-update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (min-width: 310px) {
  .initial-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5e3080; }
    .initial-contact-form h3 {
      margin-top: 3em; }
    .initial-contact-form .request-form label {
      font-size: 1.8rem; }
    .initial-contact-form .request-form input {
      width: 17em;
      height: 3em; }
    .initial-contact-form .request-form input:-webkit-autofill {
      -webkit-text-fill-color: #ffffff;
      transition: background-color 5000s ease-in-out 0s; }
    .initial-contact-form .request-form .details {
      width: 17em; }

  .client-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5e3080;
    text-align: center;
    padding: 0px 10px 0px; }
    .client-dashboard .profile-section {
      display: none; }
    .client-dashboard .project-section {
      margin-top: 2em; }
      .client-dashboard .project-section #myProgress {
        width: auto; }
      .client-dashboard .project-section .current-item {
        min-height: 42vh; }
        .client-dashboard .project-section .current-item .feedback-box {
          /* The Modal (background) */ }
          .client-dashboard .project-section .current-item .feedback-box .feedback-btn {
            line-height: 0;
            height: 4.8rem;
            margin: 0 auto; }
          .client-dashboard .project-section .current-item .feedback-box .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            padding-bottom: 30px;
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: black;
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
            /* Modal Content */
            /* The Close Button */ }
            .client-dashboard .project-section .current-item .feedback-box .modal .modal-content {
              background-color: #0C0C0C;
              color: #ffffff;
              margin: auto;
              padding: 20px;
              border: 1px solid #888;
              width: 95%; }
              .client-dashboard .project-section .current-item .feedback-box .modal .modal-content .form-feedback {
                display: unset; }
                .client-dashboard .project-section .current-item .feedback-box .modal .modal-content .form-feedback .current-feedback-view-box {
                  text-align: left;
                  width: auto;
                  margin-left: 0;
                  height: 20rem;
                  overflow-y: scroll; }
                  .client-dashboard .project-section .current-item .feedback-box .modal .modal-content .form-feedback .current-feedback-view-box p {
                    margin-bottom: 0rem; }
            .client-dashboard .project-section .current-item .feedback-box .modal .close {
              color: #aaaaaa;
              float: right;
              font-size: 28px;
              font-weight: bold; }
            .client-dashboard .project-section .current-item .feedback-box .modal .close:hover,
            .client-dashboard .project-section .current-item .feedback-box .modal .close:focus {
              color: #000;
              text-decoration: none;
              cursor: pointer; }
        .client-dashboard .project-section .current-item .feedback-form {
          display: flex;
          flex-direction: column; }
      .client-dashboard .project-section .fa-arrow-circle-down {
        font-size: 1.6em; }
      .client-dashboard .project-section .fa-arrow-circle-down:hover {
        color: #0C0C0C;
        cursor: pointer;
        -webkit-transition: color 500ms ease-out 1s;
        -moz-transition: color 500ms ease-out 1s;
        -o-transition: color 500ms ease-out 1s;
        transition: color 500ms ease-out 1s; }
      .client-dashboard .project-section .previous-updates {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20em 20em;
        margin-top: 3em; }
        .client-dashboard .project-section .previous-updates .previous-feedback-box {
          background-color: #0C0C0C;
          overflow-y: scroll;
          /* The Modal (background) */ }
          .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            padding-bottom: 20px;
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: black;
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
            /* Modal Content */
            /* The Close Button */ }
            .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content {
              background-color: #0C0C0C;
              color: #ffffff;
              margin: auto;
              padding: 20px;
              border: 1px solid #888;
              width: 90%; }
              .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content .form-feedback {
                display: flex;
                flex-direction: column; }
                .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content .form-feedback button {
                  width: 80%;
                  height: 4em;
                  line-height: 0; }
              .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content .current-feedback-view-box {
                text-align: left;
                width: auto;
                margin-left: 1em;
                height: 15em;
                overflow-y: scroll; }
                .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content .current-feedback-view-box p {
                  margin-bottom: 1rem; }
            .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .close, .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .closeOldOne {
              color: #aaaaaa;
              float: right;
              font-size: 28px;
              font-weight: bold; }
            .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .close:hover, .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .close:focus, .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .closeOldOne:hover, .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .closeOldOne:focus {
              color: #000;
              text-decoration: none;
              cursor: pointer; } }
@media (min-width: 1200px) {
  .start-page .get-started-form {
    padding: 0em 19em; }

  .initial-contact-form h3 {
    font-size: 3rem; }
  .initial-contact-form .request-form label {
    font-size: 2.1rem; }
  .initial-contact-form .request-form input {
    width: 32em;
    height: 3.4em; }
  .initial-contact-form .request-form .details {
    width: 32em; }

  .client-dashboard {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: unset;
    align-items: unset; }
    .client-dashboard .profile-section {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 17em;
      position: -webkit-sticky;
      /* Safari */
      position: sticky;
      top: 0;
      background-color: #0C0C0C;
      padding: 4em .8em 4em; }
      .client-dashboard .profile-section .fas.fa-user-circle {
        color: white;
        font-size: 7em; }
      .client-dashboard .profile-section h1 {
        margin: 0.8em 0em 0.8em 0em;
        font-size: 2.4rem; }
      .client-dashboard .profile-section p {
        margin: 0em 0em .5em 0em; }
      .client-dashboard .profile-section button {
        margin: 0 auto;
        line-height: 0;
        margin-top: .8em;
        height: 3.8rem; }
    .client-dashboard .project-section {
      padding: 1em 3em 1em 3em;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      max-width: 70vw; }
      .client-dashboard .project-section h1 {
        margin-top: 3rem; }
      .client-dashboard .project-section h3 {
        margin-top: 3rem; }
      .client-dashboard .project-section .stripe-button-el span {
        background-color: transparent; }
      .client-dashboard .project-section #myProgress {
        width: 90%; }
      .client-dashboard .project-section .current-item {
        min-height: 60vh; }
        .client-dashboard .project-section .current-item .feedback-box {
          /* The Modal (background) */ }
          .client-dashboard .project-section .current-item .feedback-box .feedback-btn {
            margin: 0 auto; }
          .client-dashboard .project-section .current-item .feedback-box .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: black;
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
            /* Modal Content */
            /* The Close Button */ }
            .client-dashboard .project-section .current-item .feedback-box .modal .modal-content {
              background-color: #0C0C0C;
              color: #ffffff;
              margin: auto;
              padding: 20px;
              border: 1px solid #888;
              width: 80%; }
              .client-dashboard .project-section .current-item .feedback-box .modal .modal-content .form-feedback {
                display: flex; }
                .client-dashboard .project-section .current-item .feedback-box .modal .modal-content .form-feedback form {
                  width: 30vw; }
                .client-dashboard .project-section .current-item .feedback-box .modal .modal-content .form-feedback .current-feedback-view-box {
                  text-align: left;
                  width: 30vw;
                  margin-left: 2em;
                  height: 36rem;
                  overflow-y: scroll; }
                  .client-dashboard .project-section .current-item .feedback-box .modal .modal-content .form-feedback .current-feedback-view-box p {
                    margin-bottom: 1rem; }
            .client-dashboard .project-section .current-item .feedback-box .modal .close {
              color: #aaaaaa;
              float: right;
              font-size: 28px;
              font-weight: bold; }
            .client-dashboard .project-section .current-item .feedback-box .modal .close:hover,
            .client-dashboard .project-section .current-item .feedback-box .modal .close:focus {
              color: #000;
              text-decoration: none;
              cursor: pointer; }
      .client-dashboard .project-section .fa-arrow-circle-down {
        font-size: 1.6em; }
      .client-dashboard .project-section .fa-arrow-circle-down:hover {
        color: #0C0C0C;
        cursor: pointer;
        -webkit-transition: color 500ms ease-out 1s;
        -moz-transition: color 500ms ease-out 1s;
        -o-transition: color 500ms ease-out 1s;
        transition: color 500ms ease-out 1s; }
      .client-dashboard .project-section .previous-updates {
        grid-template-columns: 17em 17em 17em; }
        .client-dashboard .project-section .previous-updates .previous-feedback-box {
          margin-left: .6em; }
          .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content .form-feedback {
            flex-direction: row; }
            .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content .form-feedback form {
              width: 30vw; }
            .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content .form-feedback textarea {
              width: 100%; }
            .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content .form-feedback button {
              width: 80%;
              height: 4em;
              line-height: 0; }
          .client-dashboard .project-section .previous-updates .previous-feedback-box #oldFeedbackModal .modal-content .current-feedback-view-box {
            width: 30vw;
            margin-left: 2em;
            height: 36rem; } }

/*# sourceMappingURL=styles.css.map */
