@import './variables.scss';

.landing-layout {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: calc( 100vh - 4em );
    margin-top: 5em;
    // HOME PAGE SPECIFIC
    .lightning-logo {
        margin-top: 2.6em;
        max-width: 10em;
    }
    .tm-logo {
        max-width: 30em;
    }
    .slogan {
        margin-top: 0em;
        font-size: 1.6em;
        letter-spacing: 2px;
        font-family: $textfont;
        color: $dark;
    }
    .fas.fa-arrow-circle-down {
        position: absolute;
        bottom: 8%;
        font-size: 2.2em;
        transition: .3s;
        &:hover {
            color: $primary;
        }
    }
}
