@import './variables.scss';

.projects-section {
    padding: 3em 2em 3em 2em;
    // background-color: #ffffff;
    font-family: $textfont;
    color: $text;
    text-align: center;
    padding-top: 8.4em;
    .projects-container {
        display: flex;
        flex-direction: column;
        // grid-template-columns: repeat(1, 3fr);
        // grid-row-gap: 6em;
        justify-items: center;
        align-items: center;
    }
    .project {
        max-width: calc( 80vw );
        max-height: 80vh;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8em;
        .asset-container {
            .project-asset {
                max-width: 44vw;
                max-height: 74vh;
            }
        }
        .project-content {
            padding-left: 2em;
            padding-right: 2em;
            text-align: left;
            margin: 0 auto;
            .project-title {
                font-size: 2em;
            }
            .project-description {
                font-size: 1.4em;
            }
        }
        .btn-container {
            margin-top: 1   em;
            width: 100%;
            display: inline-flex;
            bottom: 0;
            :nth-child(1) {
                border-left: none;
            }
            :nth-child(2) {
                border-right: none;
            }
            .blue-btn:hover {
                background-color: #1878FB;
            }
            .green-btn:hover {
                background-color: #27BB21;
            }
            .orange-btn:hover {
                background-color: #FF7700;
            }
            button {
                width: 50%;
                background-color: gray;
                background-color: rgb(244, 244, 244);
                height: 3em;
                border-top: none;
                border-bottom: none;
                font-size: 1.4em;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    color: white;
                    &i {
                        color: white;
                    }
                }
            }
        }
    }
    .section-title {
        letter-spacing: 1px;
        font-size: 3.4em;
        margin-bottom: 2.2em;
        font-family: AvenirNext-Bold;
    }
    .section-slogan {
        font-size: 1.8em;
        margin-bottom: 4em;
    }
    h1 {
        margin: 0px 0px 15px 0px;
        font-size: 34px;
    }
    .project-container.slide-left.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
    .project-container.slide-left {
        opacity: 0;
        -moz-transition: all 500ms linear;
        -webkit-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
        -moz-transform: translate3d(-1000px, 0px, 0px);
        -webkit-transform: translate3d(-1000px, 0px, 0px);
        -o-transform: translate(-1000px, 0px);
        -ms-transform: translate(-1000px, 0px);
        transform: translate3d(-1000px, 0px, 0px);
    }
    // .project-container.slide-right {
    //     opacity: 0;
    //     -moz-transition: all 500ms linear;
    //     -webkit-transition: all 500ms linear;
    //     -o-transition: all 500ms linear;
    //     transition: all 500ms linear;
    //     -moz-transform: translate3d(200px, 0px, 0px);
    //     -webkit-transform: translate3d(200px, 0px, 0px);
    //     -o-transform: translate(200px, 0px);
    //     -ms-transform: translate(200px, 0px);
    //     transform: translate3d(200px, 0px, 0px);
    // }
    .project-container {
            padding: 1em 4em 8em 4em;
            display: flex;
            // -webkit-font-smoothing: antialiased;
            // transition: opacity 0.25s ease-in-out 0s;
            // position: relative;
        .project-about:nth-child(even) {
            margin-left: 7em;
        }
        .project-about {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            h1 {
                margin-bottom: 1.8em;
                font-size: 2.8em;
                align-self: center;
            }
            .title_center {
                text-align: center;
            }
            .title_left {
                text-align: left;
            }
            .title_right {
                text-align: right;
            }
            // lol this is unneeded most of the time aha.
            // .project-bio:nth-child(2n+1), .project-tech:nth-child(2n+1) {
            //     max-width: 100%;
            // }
            .project-bio_left {
                max-width: 82%;
            }
            .project-bio_right {
                max-width: 90%;
            }
            .project-tech_left {
                max-width: 82%;
            }
            .project-tech_right {
                max-width: 90%;
            }
            .project-bio_left, .project-bio_right {
                font-size: 1.6em;
                margin: 0.5em 0em;
            }
            .project-tech_left, .project-tech_right {
                font-size: 1.1em;
                margin: 0.5em 0em;
            }
            .project-btn {
                background-color: #ffffff;
                border: 2px solid $bg;
                color: $text;
                font-style: italic;
                padding: .6em 3em;     
                font-size: 1.6em;
                font-weight: 700;                                       
            }
            .project-btn:hover {
                background-color: $text;
                color: #ffffff;
            }
        }

        .project-demo {
            margin-top: 3.8em;
            .project-asset {
                max-height: 50em;
                max-width: 54em;
            }
        }
    }
}


@media screen and (max-width:480px) {
    .projects-section {
        padding: 1em 1em 2em 1em;
        font-family: "AvenirNext-Regular", serif;
        color: #121212;
        text-align: center;
        padding-top: 4.4em;
        .section-title {
            font-size: 2.6em;
            margin-bottom: 2.2em;
            font-family: "AvenirNext-Bold", serif;
        }
        .project {
            max-height: 100%;
            flex-direction: column !important;
            margin-bottom: 5em;
        }
        .project-asset {
            max-width: 88vw !important;
        }
        .asset-container {
            display: flex;
            justify-content: center;
        }
    }
  }