html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; // NO BEUNO FOR SCROLLABLE SITES.
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    color: rgb(255, 255, 255);
    text-decoration:none; 
    cursor:pointer;  
}

html {
    scroll-behavior: smooth;
}

@import './layouts.scss';
@import './library.scss';